language: python

python:
  - 2.7
  - 3.6
  - 3.7
  - 3.8
  - 3.9

before_install:
  - sudo apt-get install python-dev libevent-dev
  - pip install Cython

install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install -r requirements/py2kreqs.txt; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then pip install -r requirements/py3kreqs.txt; fi
  - python setup.py install

script:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then py.test -v; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then py.test -v; fi
