 body {
        background-image: url(http://fc04.deviantart.net/fs24/f/2007/333/5/0/Vintage_Wall_Paper_Texture_by_KillxThexScenexStock.jpg);
        margin: 0;
        padding: 0;
        text-align: left;
}

#content {
        background: #fff;
        margin: auto;
        overflow: hidden;
        margin-top: 20px;
        width: 900px;
        height: 620px;
        box-shadow: 8px 8px 12px #020100;
}

#canvas { 
}