<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mobile remote control</title>
        <meta name="description" content="Remote control your webapp with your mobile device">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="twitter:card" content="Sylvain Hellegouarch's twitter account">
        <meta name="twitter:site" content="@lawouach">
        <meta name="twitter:url" content="http://www.defuze.org">

        <link rel="stylesheet" href="/static/demos/drawing/vendors/initializr/css/normalize.min.css">
        <link rel="stylesheet" href="/static/demos/drawing/vendors/initializr/css/main.min.css">
        <link rel="stylesheet" href="/static/demos/drawing/css/style.min.css">

        <script src="/static/demos/drawing/vendors/initializr/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main-container" id="arena">
	    <canvas id="tools" width="70" height="600"></canvas>
	    <canvas id="board" width="150" height="600"></canvas>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="application/javascript" src="/static/demos/drawing/vendors/jcanvas/jcanvas.min.js"></script>
        <script type="application/javascript" src="/static/demos/drawing/js/drawingboard.min.js"></script>
        <script type="application/javascript">
	   $(document).ready(function() {
	      $.board({url: "${basewsurl}", board: "${boardid}", participant: "${participantid}"});
	   });
        </script>
    </body>
</html>
